.movie-card {
  max-width: 420px;
  cursor: pointer;
}

.actor-name {
  cursor: pointer;
}

.movie-title {
  cursor: pointer;
}

.scrollable {
  overflow-y: auto;
  max-height: 165px;
}

.card-text {
  font-size: 0.9em;
}

.card-title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
